*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Mainstay;
    src: url(Fonts/Mainstay.ttf);
}

ul{
    list-style: none;
    text-decoration: none;
}

#link_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 150px;
    height: auto;
}

#grid_wrapper{
    background-color:blanchedalmond;
    height: 100px;
}

.menu{
    padding: 90px;
    padding-top: 0px;
}