*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Mainstay;
    src: url(Fonts/Mainstay.ttf);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: antiquewhite;
    grid-area: na;
}

#nav_links {
    background-color: burlywood;
    height: 400px;
    width: 200px;
    position: absolute;
    top: -400px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: all 0.5s;
    border-radius: 10%;
}

#nav_links a{
    text-decoration: none;
    letter-spacing: 0,1875rem;
    color: rgb(71, 43, 5);
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 5%;
}

#nav_links a:hover{
    background-color: brown;
    color: bisque;
}

#menu_icon {
    margin-right: 20px;
    cursor: pointer;
}

.nav_active {
    transform: translateY(500px);
}

.tryck_menu #rose_menu_icon{
    transform: rotate(180deg);
    transition: all 1.5s;

#grid_wrapper {
    display: grid;
    grid-template-columns: ;
}